<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pefumes para Damas</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/damas.css">
    <link rel="stylesheet" href="/styles/comentario.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <header>
        <h1>AROMAS</h1>
        <nav class="nav-container">
            <button class="hamburger" onclick="toggleMenu()">☰</button>
            <ul class="menu" id="menu">
                <li>
                    <a href="/views/index.html">Inicio</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/views/ofertas.html">Ofertas</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/views/productosNuevos.html">Novedades</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/views/damas.html">Damas</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/views/caballeros.html">Caballeros</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <div class="search">
                        <form action="/views/construccion.html">
                            <input type="text" placeholder="Buscar..." name="search">
                            <button type="submit">Buscar</button>
                        </form>
                    </div> 
                </li>
                <li> 
                    <button onclick="window.location.href='/views/Formulario.html';" class="btn btn-outline-dark">
                        Registro
                    </button>
                </li>
            </ul>
        </nav>

        <div class="bread">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/views/index.html">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Damas</li>
                </ol>
            </nav>
        </div>
    
        <script>
            function toggleMenu() {
                document.getElementById("menu").classList.toggle("active");
            }
        </script>
    </header>

    <div class="tablaNuevos">
        <table>
            <tbody>
                <script>
                    let images = [
                        "https://th.bing.com/th/id/OIP.PFQZCTvedD7a1GyiR2EMEwHaHa?pid=ImgDet&w=180&h=180&c=7", "https://th.bing.com/th/id/OIP.acGs9wg1yFJ2pKTYfIk1QgHaHa?pid=ImgDet&w=180&h=180&c=7", "https://th.bing.com/th/id/OIP.h6aQ9_fKrEZuWxeE1DjUgwHaHa?pid=ImgDet&w=161&h=141.2280701754386&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.cPb7O0wRGsFImp7vW4rAYAHaIA?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", 
                        "https://th.bing.com/th/id/OIP.QgJlrFnK9ZyOJgFdfgKFsAHaH5?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.8j15RKMwk4tbLBLQcQkMHwHaHa?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.8xCUjKYkNYyQvpdc6TvcvAHaIb?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.FpO6XMOayx0awfUxa8THCQAAAA?pid=ImgDet&w=150&h=180&c=7&dpr=1.5", 
                        "https://th.bing.com/th/id/OIP.L5bxAkO3-qf1UqZFHNf9GgAAAA?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP._RwLffPp3kOvvj0zbnkkuQHaHa?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.o4wTKezQaHlgh3t7fuwihAHaIb?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.vMwDs0cpQ_u9acGeaDM6WAHaHa?pid=ImgDet&w=135&h=180&c=7&dpr=1.5",
                        "https://th.bing.com/th/id/OIP.iuaO0CKRGl6h1pHRQkYhWQHaHa?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.u8S2J6quJHV2GmhMVCZUbAHaHa?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.U89N29oNgtH-4EVMblb1LAHaHa?pid=ImgDet&w=161&h=155.526&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.n7T5GyqQYWR_nDxk-d1ADwHaHw?pid=ImgDet&w=180&h=180&c=7"
                    ];
                    let texts = [
                        "Calvin Klein Beauty", "Dolce & Gabanna Light Blue", "Versace Bright Crystal", "Dior New Look", 
                        " Loewe Paula's Ibiza", "Tom Ford Vanilla Sex", "Bvlgari Allegra Chill & Sole ", "Estée Lauder Tender Light", 
                        "Jo Malone London Frangipani", "Kilian Paris Sunkissed Goddess", " Gucci The Alchemist’s Garden", "Chanel Comète Les Exclusifs",
                        "Hallowen", "Guess 1981 Indigo", "Benetton United Dreames", "Miss Dior"
                    ];
                    let precio = [
                        "$799.99 MXN", "$1,100.00 MXN", "$1,300 MXN", "$5,600 MXN", 
                        "$4,600.00 MXN", "$6,000 MXN", "$3,200 MXN", "$3,200 MXN", 
                        "$2,500 MXN", "$6,000 MXN", "$6,900 MXN", "$5,000 MXN",
                        "$900 MXN", "$600 MXN", "$700 MXN", "$2,800 MXN",
                    ];
                    let count = 0;
                    for (let i = 0; i < 4; i++) {
                        document.write('<tr>');
                        for (let j = 0; j < 4; j++) {
                            document.write(`<td><img src="${images[count]}" alt="Imagen ${count+1}"><br><a href="/views/construccion.html">${texts[count]}</a><br><p>${precio[count]}</p></td>`);
                            count++;
                        }
                        document.write('</tr>');
                    }
                </script>
            </tbody>
        </table>
    </div>

    <footer>
        <!-- Caja de comentarios -->

        <div class="seccioncomentario">

            <form class="nombrecomentario">
                <h3 class="entcomentario">Nombre*</h3>
                <div class="form-group">
                    <textarea class="form-control" rows="1"></textarea>
                </div>
            </form>

            <br><br>

            <form class="cajacomentario">
                <h3 class="entcomentario">Ingrese un comentario*</h3>
                <div class="form-group">
                <textarea class="form-control" rows="5"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Enviar comentario</button>
            </form>

        </div>

    <!-- Fin caja de comentarios -->

        <div class="footer">
        <div class="row">
            <ul>
                <ul>
                    <li><a href="/viewsFooter/politica.html#contacto">Contacto</a></li>
                    <li><a href="/viewsFooter/privacidad.html">Privacidad</a></li>
                    <li><a href="/viewsFooter/politica.html">Politica de Empresa</a></li>
                    <li><a href="/viewsFooter/terminos.html">Terminos y Condiciones</a></li>
                    <li><a href="/viewsFooter/carrera.html">Carrera</a></li>
                    <li><a href="/viewsFooter/menusitio.html">Menu de Sitio</a></li>
                </ul>
            </ul>
        </div>
            
        <div class="row">
        AROMAS Copyright © 2025 AROMAS - All rights reserved || Designed By: Baruc 
        </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
    <!-- Script caja de comentarios -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Fin script caja de comentarios -->

</body>
</html>