<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Nuevos</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/productosNuevos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1>AROMAS</h1>
        <nav class="nav-container">
            <button class="hamburger" onclick="toggleMenu()">☰</button>
            <ul class="menu" id="menu">
                <li>
                    <a href="/views/index.html">Inicio</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/views/ofertas.html">Ofertas</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/views/productosNuevos.html">Novedades</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/views/damas.html">Damas</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/views/caballeros.html">Caballeros</a>
                    <ul class="submenu">
                        <li><a href="/views/construccion.html">Opción 1</a></li>
                        <li><a href="/views/construccion.html">Opción 2</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
        <div class="bread">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/views/index.html">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Productos Nuevos</li>
                </ol>
            </nav>
        </div>

        <script>
            function toggleMenu() {
                document.getElementById("menu").classList.toggle("active");
            }
        </script>
    </header>

    <div class="tablaNuevos">
        <table>
            <tbody>
                <script>
                    let images = [
                        "https://th.bing.com/th/id/OIP.LEIhyXMQSWEV4YVCtfVh2wHaJi?pid=ImgDet&w=139.68&h=180&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.n2UflBLld0BXXOxXRqsOLgHaHa?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.R_fXodyYYr62ZdqFwSROQAHaHa?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.cPb7O0wRGsFImp7vW4rAYAHaIA?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", 
                        "https://th.bing.com/th/id/OIP.QgJlrFnK9ZyOJgFdfgKFsAHaH5?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.8j15RKMwk4tbLBLQcQkMHwHaHa?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.8xCUjKYkNYyQvpdc6TvcvAHaIb?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.FpO6XMOayx0awfUxa8THCQAAAA?pid=ImgDet&w=150&h=180&c=7&dpr=1.5", 
                        "https://th.bing.com/th/id/OIP.L5bxAkO3-qf1UqZFHNf9GgAAAA?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP._RwLffPp3kOvvj0zbnkkuQHaHa?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.o4wTKezQaHlgh3t7fuwihAHaIb?pid=ImgDet&w=161&h=161&c=7&dpr=1.5", "https://th.bing.com/th/id/OIP.vMwDs0cpQ_u9acGeaDM6WAHaHa?pid=ImgDet&w=135&h=180&c=7&dpr=1.5"
                    ];
                    let texts = [
                        "JPG Le Beau Paradise Garden", "YSL MYSELF", "Versace Pour Homme", "Dior New Look", 
                        "Loewe Paula's Ibiza", "Tom Ford Vanilla Sex", "Bvlgari Allegra Chill & Sole", "Estée Lauder Tender Light", 
                        "Jo Malone London Frangipani", "Kilian Paris Sunkissed Goddess", "Gucci The Alchemist’s Garden", "Chanel Comète Les Exclusifs"
                    ];
                    let count = 0;
                    for (let i = 0; i < 3; i++) {
                        document.write('<tr>');
                        for (let j = 0; j < 4; j++) {
                            document.write(`<td><img src="${images[count]}" alt="Imagen ${count+1}"><br><a href="/views/construccion.html">${texts[count]}</a></td>`);
                            count++;
                        }
                        document.write('</tr>');
                    }
                </script>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer">
        <div class="row">
            <ul>
                <li><a href="/viewsFooter/politica.html#contacto">Contacto</a></li>
                <li><a href="/viewsFooter/privacidad.html">Privacidad</a></li>
                <li><a href="/viewsFooter/politica.html">Politica de Empresa</a></li>
                <li><a href="/viewsFooter/terminos.html">Terminos y Condiciones</a></li>
                <li><a href="/viewsFooter/carrera.html">Carrera</a></li>
            </ul>
        </div>
            
        <div class="row">
        AROMAS Copyright © 2025 AROMAS - All rights reserved || Designed By: Baruc 
        </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>