.seccioncomentario{
    height: auto;
    width: 60%;
}

.cajacomentario{
    margin-left: 10%;
}

.nombrecomentario{
    margin-left: 10%;
}

.entcomentario{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
