

.desarrollo{
    margin: 5rem;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.nav-container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: relative;
}
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.menu li {
    position: relative;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
}
.submenu li {
    width: 150px;
}
.submenu a {
    padding: 10px;
    display: block;
}
.menu li:hover .submenu {
    display: block;
}
.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .menu.active {
        display: flex;
    }
    .hamburger {
        display: block;
    }
}

.search{
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search input[type="text"]{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    cursor: pointer;
}


a:hover{
    color: darkgreen;
}


.tablaOfertas {
    padding: 20px;
    background: white;
    margin-top: 3%;
}

.tablaOfertas a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tablaOfertas a:hover{
    color: darkgreen;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
}
th {
    background-color: #007BFF;
    color: white;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:rgb(0, 0, 0);
    font-size:1.0em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
    
.footer .row a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    transition:0.5s;
}
    
.footer .row ul{
    width:100%;
}
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
    
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
    
@media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}  